.title {
	@include grid-row();
}

header {
	@include grid-column(12);
	position: relative;
	text-align: center;
	background-color: $blue;
	height: 100px;
	box-shadow: 1px 1px 1px grey;
	-webkit-transition: all 0.5s;
		h1 {
			color: whitesmoke;
		}
		h2 {
			margin-top: -1em;
		}
	&:after {
		content: '';
		position: absolute;
		bottom: -30px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		width: 70px;
		height: 30px;
		background-color: $blue;
		box-shadow: 1px 1px 1px grey;

	}	
}
	.social-links {
		a {
			margin-left: 2em;
			&:first-child {
				margin-left: 0;
			}
		}
		svg {
			margin-left: 20px;
			&:first-child {
				margin-left: 0;
			}
		}
		.icon {
			height: 0;
			-webkit-transition: all 0.5s;
		}
		margin-bottom: 1em;
		.icon-toggle {
			height: 32px;
		}
	}
	header:hover {
		.social-links {
			position: static;
			bottom: 0;
			top: 90px;
			svg {
				.icon {
					height: 32px;
					-webkit-transition: all 0.5s;
				}
			}
		}
		height: 140px;
		-webkit-transition: all 0.5s;
	}	




// Navigation Bar

nav {
	h1 {
		text-align: center;	
	}
}