.name-card {
	@include grid-row();
	position: absolute;
	left: 0;
	right: 0;
	top: 4em;
}

.title-content {
	@include grid-column(12);
	text-align: center;
	.social-links {
		a {
			margin-left: 2em;
			&:first-child {
				margin-left: 0;
			}
		}
	}	
}


// Navigation Bar

nav {
	h1 {
		text-align: center;	
	}
}