// Font Face Rules

@font-face {
	font-family: 'Knewave';
	src: url('../assets/fonts/knewave-webfont.ttf');
}

@font-face {
	font-family: 'Ostrich Sans';
	src: url('../assets/fonts/OstrichSans-Medium.otf');
}

@font-face {
	font-family: 'Ostrich-Sans-Heavy';
	src: url('../assets/fonts/OstrichSans-Heavy.otf');
}

@font-face {
	font-family: 'Gentium Basic';
	src: url('../assets/fonts/Gentium Basic.ttf');
}

// Font stacks

@mixin header-font-stack {
	font-family: 'Ostrich-Sans-Heavy', 'Ostrich Sans', Helvetica, Verdana, sans-serif;
}

@mixin subheading-font-stack {
	font-family: 'Ostrich Sans', Helvetica, Verdana, sans-serif;
}

@mixin body-font-stack {
	font-family: 'Gentium Basic', Georgia, Trebuchet, sans-serif;
}


// Site Wide Component Styles


//headings
h1 {
	@include header-font-stack;
	font-size: 3em;
	// text-shadow: 1px 1px 1px $blue;
	font-weight: 100;
}

h2,
h3,
h4,
h5,
h6 {
	@include subheading-font-stack;
}

nav {
	h1 {
		font-weight: 700;
	}
}

p {
	font-size: 1.3em;
	@include body-font-stack;
	text-indent: 1.5em;
}

// Media Query - Increase p font size on larger devices

@media #{$large-up} { 
	p {
		font-size: 1.5rem;
	}
}

blockquote {
	@include subheading-font-stack;
	font-weight: 600;
	font-size: 2em;
	color: black;
}

//SVG Icon Size
.icon {
	width: 32px;
	height: 32px;
}


// Module specific font Rules

// Header 

.title-content {
	h1 {
		font-size: 4rem;
	}
}

