---

---
{% include header.html %}
    <div class="name-card">
      <div class="title-content">
        <h1>Michael Brown</h1>
        <h2>Front End Developer</h2>
        <h3>Wannabe Designer</h3>
        <div class="social-links">
          <a href="http://codepen.io/mfbrown/"><svg class="icon icon-codepen" viewBox="0 0 32 32">
            <use xlink:href="#icon-codepen"></use></a>
          </svg>
          <a href="https://github.com/mfbrown"><svg class="icon icon-github" viewBox="0 0 32 32">
            <use xlink:href="#icon-github"></use></a>
          </svg>
          <a href="https://twitter.com/mfbrown"><svg class="icon icon-twitter" viewBox="0 0 32 32">
            <use xlink:href="#icon-twitter"></use></a>
          </svg>
<!--           <svg class="icon icon-linkedin" viewBox="0 0 32 32">
            <use xlink:href="#icon-linkedin"></use>
          </svg> -->
        </div>
      </div>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
{% include footer.html %}