
@keyframes flipBoard {
    0% {
      transform: rotateX(0deg);
      filter: blur(1px);
    }
    10% {
      transform: rotateX(180deg);
      filter: blur(2px);
    }
    20% {
      transform: rotateX(360deg);
      filter: blur(1.5px);
    }
    30% {
      transform: rotateX(540deg);
      filter: blur(2px);
    }
    40% {
      transform: rotateX(720deg);
      filter: blur(1.5px);
    }
    50% {
      transform: rotateX(900deg);
      filter: blur(2px);
    }
    60% {
      transform: rotateX(1080deg);
      filter: blur(1px);
    }
    70% {
      transform: rotateX(1260deg);
      filter: blur(1px);
    }
    80% {
      transform: rotateX(1440deg);
      filter: blur(0.5px);
    }
    90% {
      transform: rotateX(1620deg);
      filter: blur(0.3px);
    }
    100% {
      transform: rotateX(1800deg);
      filter: blur(0px);
    }
  }
  
  @keyframes flipLetterOnly {
    0%, 100% {
      transform: translate(-50%, -50%) scaleY(1);
      opacity: 1;
    }
    2%, 98% {
      transform: translate(-50%, -50%) scaleY(0.7);
      opacity: 0.7;
    }
    4%, 96% {
      transform: translate(-50%, -50%) scaleY(0.3);
      opacity: 0.4;
    }
    6%, 94% {
      transform: translate(-50%, -50%) scaleY(0.1);
      opacity: 0.1;
    }
    8%, 92% {
      transform: translate(-50%, -50%) scaleY(0);
      opacity: 0;
    }
    10%, 90% {
      transform: translate(-50%, -50%) scaleY(0);
      opacity: 0;
    }
    12%, 88% {
      transform: translate(-50%, -50%) scaleY(0.1);
      opacity: 0.1;
    }
    14%, 86% {
      transform: translate(-50%, -50%) scaleY(0.3);
      opacity: 0.4;
    }
    16%, 84% {
      transform: translate(-50%, -50%) scaleY(0.7);
      opacity: 0.7;
    }
    18%, 82% {
      transform: translate(-50%, -50%) scaleY(0.9);
      opacity: 0.9;
    }
    20%, 80% {
      transform: translate(-50%, -50%) scaleY(1);
      opacity: 1;
    }
    50% {
      transform: translate(-50%, -50%) scaleY(1);
      opacity: 1;
    }
  }
  