// First some variables for breakpoints
$xsmall: 40em; //640px
$small: 48em; //768px;
$medium: 62em; //992px;
$large: 64em; //1024px;
$xlarge: 75em; //1200px;

// Grid variables
$gutter-width: 0.625em; //10px


// Colors
$dark-blue: #02587d;
$tomato: #ff7459;