.post-list-title {
	display: block;	
}

.post-link {
	display: inline-block;
	font-size: 1.6rem;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 500;
	text-decoration: none;
	color: $black;
	
	&:visited {
		color: $black;
	}
	
	&:hover {
		color: #444;
	}
}

.posts {
	li {
		margin-bottom: $gutter-width * 6;
	}
}

.post-date {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
}

.rss-subscribe {
	font-size: 0.75em;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #666;
	
	a {
		color: $black;
		text-decoration: none;
		
		&:hover {
			color: #444;
		}
	}
}