.post-list-title {
	display: block;	
}

.post-link {
	display: inline-block;
	font-size: 1.6rem;
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 500;
	text-decoration: underline;
	text-decoration-color: transparent;
	text-underline-offset: 3px;
	color: $black;
	transition: text-decoration-color 0.2s ease;

	&:visited {
		color: $black;
	}

	&:hover,
	&:focus {
		text-decoration-color: $black;
	}
}

.posts {
	li {
		margin-bottom: $gutter-width * 6;
	}
}

.post-date {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
}

.rss-subscribe {
	font-size: 0.75em;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #595959;

	a {
		color: $black;
		text-decoration: underline;

		&:hover,
		&:focus {
			color: #444;
		}
	}
}