<!DOCTYPE html>
<html>

{% include head-cookie-house.html %}

<body class="site">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KZDD6S"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {% include header-cookie-house.html %}

  <div class="page-content">
    <!-- {{ content }} -->
    <div class="container">
      <div id="fides-embed-container"></div>
    </div>
  </div>
  </div>

  {% include footer.html %}

</body>

</html>