<!DOCTYPE html>
<html>

  {% include head.html %}

    <body class="site">

    {% include header.html %}

    <div class="page-content flex-container">
      <!-- {{ content }} -->
      <section class="home-primary">
        <h1 class="headers">Michael<br>Brown</h1>
      </section>
    
      <section class="home-secondary">
        <h2 class="headers">I'm a product manager.</h2>
        <p>Contact me: mb[at]mfbrown.me </p>
      </section>
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>