---
layout: default
---
<div class="two-column-layout">
  
  <div class="left-column">
    <div class="post-title-container">
      {% assign title_words = page.title | split: ' ' %}
      {% for word in title_words %}
      <div class="title-line">
        {% assign chars = word | split: '' %}
        <span class="name-rest">{%- for char in chars -%}<span class="flip-letter" data-char="{{ char | upcase }}">{{ char | upcase }}</span>{%- endfor -%}</span>
      </div>{% unless forloop.last %} {% endunless %}
      {% endfor %}
    </div>
  </div>

  <div class="right-column">
    <div class="post-article-container">
      <div class="post-meta">
        <a href="{{ "/" | prepend: site.baseurl }}" class="back-link">← Back to home</a>
        <p class="post-date">{{ page.date | date: "%b %-d, %Y" }}</p>
      </div>
      
      <article class="post-content">
        {{ content }}
      </article>
    </div>
  </div>

</div>