@font-face {
	font-family: 'Cormorant Garamond';
	src: url('../assets/fonts/cormorant-garamond/CormorantGaramond-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

$header-font: 'IBM Plex Mono', monospace;
$body-font: 'Cormorant Garamond', serif;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	font-family: $header-font;
}

h1 {
	font-size: 180%;
}

h5 {
	font-size: 0.9rem;
}

h6 {
	font-size: 0.8rem;
}


p,
ul,
a {
	font-family: $body-font;
}

blockquote {
	font-family: "Source-Sans-Light", $body-font;
}

p,
ul {
	font-weight: 300;
}

a {
	font-weight: 400;
}

